<h1 class="mt-4">Livros</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ livros.idlivro ? 'Edição' : 'Cadastro' }}</li>
</ol>

<div class="container">
         <form #livrosForm="ngForm" (ngSubmit)="onSubmit()">
           <div class="row">
             <div class="col-md-12">
              <div class="alert alert-success" role="alert" *ngIf="success == true">
                Livro Gravado/Atualizado com Sucesso!
              </div>
              <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                {{ erro }}
              </div>
             </div>
           </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Titulo do Livro</label>
                <input type="text" [(ngModel)]="livros.titulolivro" name="titulolivro" class="form-control"  />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Edição do Livro</label>
                <input type="text" [(ngModel)]="livros.edicaolivro" class="form-control"  name="edicaolivro" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Editora do Livro</label>
                <input type="text" [(ngModel)]="livros.editoralivro" class="form-control" name="editoralivro" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome do Autor do Livro</label>
                <input type="text" [(ngModel)]="livros.nomeautorlivro" class="form-control" name="nomeautorlivro" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>ISBN do Livro </label>
                <input type="text" [(ngModel)]="livros.isbnlivro" class="form-control" name="isbnlivro" />
              </div>
            </div>
          </div>
          <div class="class row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!livros.idlivro">
                  <i class="fa fa-save"></i> Salvar </button>

                  <button type="submit" class="btn btn-primary" *ngIf="livros.idlivro">
                    <i class="fa fa-sync-alt"></i> Atualizar </button>


              <button type="button" class="btn btn-danger ml-1" (click)="voltarparalistagem()">
                <i class="fa fa-arrow-alt-circle-left"></i> Voltar </button>

          </div>
          </div>
        </form>
</div>
